<a href="https://colab.research.google.com/github/anamanuellar/Data_Science/blob/main/3%C2%BA_aula_DS_atividade02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [154]:
dfEmprestimo = pd.read_csv("previsao.csv") #1) Carregue para um DataFrame o Banco de Dados, 'previsao.csv' sobre previsão de Empréstimos.

In [155]:
dfEmprestimo = dfEmprestimo.drop("Loan_ID", axis='columns') #3) Exclua a Coluna 'Loan_ID'

In [156]:
colunas =["Genero", "Casado", "Dependentes", "Educacao", "Autonomo", "Renda", "Renda_Fiador", "Emprestimo", "Prazo", "Historico_Emprestimo", "Propriedade", "Status_Emprestimo"]
dfEmprestimo.columns = colunas #2) Renomeie as colunas do DataFrame

In [157]:
dfEmprestimo.sample(10)

,Genero,Casado,Dependentes,Educacao,Autonomo,Renda,Renda_Fiador,Emprestimo,Prazo,Historico_Emprestimo,Propriedade,Status_Emprestimo
586,Male,Yes,0,Graduate,No,2297,1522.000000,104.0,360.0,1.0,Urban,Y
78,Male,Yes,3+,Graduate,No,3167,4000.000000,180.0,300.0,0.0,Semiurban,N
301,Male,Yes,NaN,Not Graduate,No,2875,1750.000000,105.0,360.0,1.0,Semiurban,Y
428,Male,Yes,0,Graduate,No,2920,16.120001,87.0,360.0,1.0,Rural,Y
602,Male,Yes,3+,Graduate,No,5703,0.000000,128.0,360.0,1.0,Urban,Y
442,Male,No,3+,Not Graduate,No,4707,1993.000000,148.0,360.0,1.0,Semiurban,Y
595,Male,No,0,Not Graduate,No,3833,0.000000,110.0,360.0,1.0,Rural,Y
591,Male,Yes,2,Graduate,Yes,6000,0.000000,205.0,240.0,1.0,Semiurban,N
61,Male,Yes,3+,Graduate,No,3029,0.000000,99.0,360.0,1.0,Urban,Y
379,Male,Yes,2,Graduate,No,5391,0.000000,130.0,360.0,1.0,Urban,Y

In [158]:
dfEmprestimo.isnull().sum() #4) Verifique se há valores nulos nas colunas.

Genero                  13
Casado                   3
Dependentes             15
Educacao                 0
Autonomo                32
Renda                    0
Renda_Fiador             0
Emprestimo              22
Prazo                   14
Historico_Emprestimo    50
Propriedade              0
Status_Emprestimo        0
dtype: int64

In [159]:
#5) Substitua NaN nas seguintes colunas pelos respectivos valores:
dfEmprestimo['Genero'] = dfEmprestimo['Genero'].fillna('I') # Genero 'I'

In [160]:
dfEmprestimo['Autonomo'] = dfEmprestimo['Autonomo'].fillna('No') #Autonomo 'No'
dfEmprestimo.Autonomo.sample(30)

207     No
519     No
442     No
453     No
375     No
107     No
526     No
317     No
363     No
539     No
511     No
424     No
592    Yes
190     No
558     No
90      No
463     No
289     No
452     No
79     Yes
575     No
509     No
67      No
389     No
68     Yes
425     No
411     No
156     No
137    Yes
202     No
Name: Autonomo, dtype: object

In [161]:
dfEmprestimo.Emprestimo.replace(np.nan, dfEmprestimo.Emprestimo.median()), #Emprestimo        Mediana ( median(Emprestimo) )

(0      128.0
 1      128.0
 2       66.0
 3      120.0
 4      141.0
        ...
 609     71.0
 610     40.0
 611    253.0
 612    187.0
 613    133.0
 Name: Emprestimo, Length: 614, dtype: float64,)

In [162]:
dfEmprestimo['Prazo'] = dfEmprestimo['Prazo'].fillna(dfEmprestimo['Prazo'].mode())#Prazo Pagamento   Moda ( mode(Prazo Pagamento) )

In [163]:
dfEmprestimo.Genero.replace("Male", "M", inplace= True), #Converta o que é "Male" em 'M' e o que é "female" em 'F'
dfEmprestimo.Genero.replace("Female", "F", inplace=True),
dfEmprestimo.sample(15)

,Genero,Casado,Dependentes,Educacao,Autonomo,Renda,Renda_Fiador,Emprestimo,Prazo,Historico_Emprestimo,Propriedade,Status_Emprestimo
156,M,Yes,1,Graduate,No,6000,0.0,160.0,360.0,NaN,Rural,Y
611,M,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
509,F,No,1,Graduate,No,13262,0.0,40.0,360.0,1.0,Urban,Y
375,M,Yes,0,Graduate,No,4817,923.0,120.0,180.0,1.0,Urban,Y
168,M,No,0,Graduate,No,2237,0.0,63.0,480.0,0.0,Semiurban,N
372,M,Yes,2,Graduate,Yes,9323,7873.0,380.0,300.0,1.0,Rural,Y
356,M,Yes,2,Graduate,No,8333,3167.0,165.0,360.0,1.0,Rural,Y
302,F,No,0,Graduate,No,5000,0.0,132.0,360.0,1.0,Rural,Y
556,F,No,0,Graduate,No,2667,1625.0,84.0,360.0,NaN,Urban,Y
521,M,No,0,Graduate,No,2500,0.0,55.0,360.0,1.0,Semiurban,Y
293,F,No,NaN,Graduate,No,5417,0.0,143.0,480.0,0.0,Urban,N
387,M,Yes,0,Not Graduate,No,3010,3136.0,NaN,360.0,0.0,Urban,N
492,M,No,0,Not Graduate,No,3691,0.0,110.0,360.0,1.0,Rural,Y
595,M,No,0,Not Graduate,No,3833,0.0,110.0,360.0,1.0,Rural,Y
105,M,Yes,1,Graduate,No,3052,1030.0,100.0,360.0,1.0,Urban,Y

In [164]:
dfEmprestimo.Status_Emprestimo.replace("Y", "S", inplace= True), #Categoriza a Coluna 'Status Emprestimo' para 'S' ou 'N'
dfEmprestimo.sample(15)

,Genero,Casado,Dependentes,Educacao,Autonomo,Renda,Renda_Fiador,Emprestimo,Prazo,Historico_Emprestimo,Propriedade,Status_Emprestimo
153,M,Yes,2,Not Graduate,No,2281,0.0,113.0,360.0,1.0,Rural,N
417,M,Yes,2,Graduate,Yes,1600,20000.0,239.0,360.0,1.0,Urban,N
605,M,Yes,0,Not Graduate,No,2400,3800.0,NaN,180.0,1.0,Urban,N
405,F,No,0,Graduate,No,4547,0.0,115.0,360.0,1.0,Semiurban,S
420,M,Yes,0,Graduate,No,5829,0.0,138.0,360.0,1.0,Rural,S
77,M,Yes,1,Graduate,Yes,1000,3022.0,110.0,360.0,1.0,Urban,N
110,M,No,0,Graduate,No,5316,0.0,136.0,360.0,1.0,Urban,S
367,M,No,0,Graduate,No,5124,0.0,124.0,NaN,0.0,Rural,N
481,M,Yes,3+,Not Graduate,No,3095,0.0,113.0,360.0,1.0,Rural,S
150,M,No,0,Graduate,No,6277,0.0,118.0,360.0,0.0,Rural,N
300,M,Yes,0,Not Graduate,No,1800,2934.0,93.0,360.0,0.0,Urban,N
72,M,No,0,Graduate,No,3500,0.0,81.0,300.0,1.0,Semiurban,S
185,M,Yes,0,Graduate,Yes,39147,4750.0,120.0,360.0,1.0,Semiurban,S
122,F,No,0,Graduate,No,2137,8980.0,137.0,360.0,0.0,Semiurban,S
508,M,Yes,0,Graduate,Yes,2479,3013.0,188.0,360.0,1.0,Urban,S

In [165]:
dfEmprestimo.Casado.replace("Yes", "S", inplace= True), #7) Categorize a Coluna 'Casado' para 'S' ou 'N'.
dfEmprestimo.Casado.replace("No", "N", inplace= True)
dfEmprestimo.sample(15)

,Genero,Casado,Dependentes,Educacao,Autonomo,Renda,Renda_Fiador,Emprestimo,Prazo,Historico_Emprestimo,Propriedade,Status_Emprestimo
108,M,S,2,Graduate,No,3800,3600.0,216.0,360.0,0.0,Urban,N
312,F,N,0,Graduate,No,2507,0.0,56.0,360.0,1.0,Rural,S
96,F,S,0,Graduate,No,2484,2302.0,137.0,360.0,1.0,Semiurban,S
255,F,N,3+,Graduate,No,3083,0.0,255.0,360.0,1.0,Rural,S
134,M,N,0,Graduate,No,4895,0.0,102.0,360.0,1.0,Semiurban,S
613,F,N,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N
561,F,S,1,Graduate,Yes,19484,0.0,600.0,360.0,1.0,Semiurban,S
139,M,S,2,Not Graduate,No,4200,1430.0,129.0,360.0,1.0,Rural,N
79,M,S,3+,Not Graduate,Yes,3333,2166.0,130.0,360.0,NaN,Semiurban,S
174,M,S,0,Not Graduate,Yes,4344,736.0,87.0,360.0,1.0,Semiurban,N
473,F,N,0,Graduate,Yes,2500,0.0,93.0,360.0,NaN,Urban,S
9,M,S,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
55,M,S,2,Graduate,No,2708,1167.0,97.0,360.0,1.0,Semiurban,S
497,M,S,0,Graduate,No,4625,2857.0,111.0,12.0,NaN,Urban,S
589,M,S,2,Graduate,Yes,2726,0.0,106.0,360.0,0.0,Semiurban,N

In [226]:
df = pd.DataFrame({'Emprestimo': [dfEmprestimo.Emprestimo.mean(), dfEmprestimo.Emprestimo.std(), dfEmprestimo.Emprestimo.median(), dfEmprestimo.Emprestimo.mode()[0]], 
                   'Prazo': [dfEmprestimo.Prazo.mean(), dfEmprestimo.Prazo.std(), dfEmprestimo.Prazo.median(), dfEmprestimo.Prazo.mode()[0]]}, index=['Mean', 'Std', 'Median', 'Mode'])
df
 #Crie um DataFrame Estatísticos com as funções: Média aritmética, desvio padrão, mediana e moda
    # das colunas 'Emprestimo' e 'Prazo de pagamento'

        Emprestimo      Prazo
Mean    146.412162  342.00000
Std      85.587325   65.12041
Median  128.000000  360.00000
Mode    120.000000  360.00000