<a href="https://colab.research.google.com/github/anamanuellar/Data_Science/blob/main/3%C2%BA_aula_DS_atividade01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [2]:
import numpy as np

In [5]:
df = pd.DataFrame( #1) Criar um DataFrame utilizando como fonte de dados um dicionário Python
    {
        "Matrícula": [1111, 2222, 3333, 4444, 5555],
        "Nome": ["João das Neves", "Joana Darc", "Leia", "Marcos", "Miguel A"],
        "Idade": [18, 19, 18, 28, 26],
        "Curso": ["Metaverso", "Dev Fullstack", "Dev Fullstack", "Fotografia", "Design"]
    }
)

In [7]:
df.sample(5) #2) Imprimir todo o df com o método sample()

   Matrícula            Nome  Idade          Curso
0       1111  João das Neves     18      Metaverso
2       3333            Leia     18  Dev Fullstack
4       5555        Miguel A     26         Design
1       2222      Joana Darc     19  Dev Fullstack
3       4444          Marcos     28     Fotografia

In [8]:
df.loc[df.Idade == df.Idade.max()] #3) Qual(is) o(s) estudante(s) mais velho(s) ?

   Matrícula    Nome  Idade       Curso
3       4444  Marcos     28  Fotografia

In [9]:
df.loc[df.Idade == df.Idade.min()] #4) Qual(is) o(s) estudante(s) mais novo(s)?

   Matrícula            Nome  Idade          Curso
0       1111  João das Neves     18      Metaverso
2       3333            Leia     18  Dev Fullstack

In [10]:
df.Idade.mean() #5) Qual a média de Idade dos estudantes?

21.8

In [12]:
diferenca = df.Idade.max() - df.Idade.min() #6) Qual a diferença de idade entre o(s) estudante(s) mais velho(s) e o(s) mais novo(s) ?
diferenca

10

In [14]:
df.query("(Curso=='Dev Fullstack')") #7) Quais os estudantes que cursam 'Dev Fullstack' ?

   Matrícula        Nome  Idade          Curso
1       2222  Joana Darc     19  Dev Fullstack
2       3333        Leia     18  Dev Fullstack

In [16]:
df.sort_values(by='Nome') #Ordene o df por NOME e Imprima

   Matrícula            Nome  Idade          Curso
1       2222      Joana Darc     19  Dev Fullstack
0       1111  João das Neves     18      Metaverso
2       3333            Leia     18  Dev Fullstack
3       4444          Marcos     28     Fotografia
4       5555        Miguel A     26         Design